.layout {
  display: flex;
  min-height: 100vh;
}

.content-outer {
  margin-left: var(--sidebar-width);
  flex: 1;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 680px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .content-outer {
    margin-left: 0;
  }

  .content {
    max-width: 100%;
  }
}
