.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-left: var(--sidebar-width);
  flex: 1;
  max-width: 680px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .content {
    margin-left: 0;
    max-width: 100%;
    height: auto;
    overflow-y: visible;
  }
}
